:root {
    --color-primary: #0c2005;
    --color-secondary: #f2fcee;
    --color-tertiary: #a9ff38;
    --color-neutral: #78e54d;
    --color-neutral-low:#b5f19d;
  }
  
html, body, #root {
    margin: 0;
    padding: 0;
    width: 100%;
    user-select: none;
    overflow-x: hidden;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    background: #0c2005;
}

h1{
    font-size: xx-large;
    color: var(--color-tertiary);
}
span{
    font-size: large;
    color:var(--color-secondary) ;
}
p{
    font-size: medium;
    color:var(--color-secondary) ;
}
a{

    font-size: medium;
    text-decoration: none;
}
li{
    list-style-type: none;
}


.icons{
    font-size: 20px;
    margin-left: 5px;
}