.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  .nav-rigth {
    display: flex;
    gap: 2rem;
  }
  
  .nav-left {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .header-logo-biodigest {
    width: 40px; 
  }
  
  .nav-link {
    text-decoration: none;
    color: white;
    font-size: 19px;
  }
  
  .nav-link-company {
    display: flex;
    align-items: center;
    border-bottom: 2px solid  #84e33d ;
    color: #84e33d; 
    font-weight: bold;
    font-size: 30px;
  }
  



.layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}


