.layout{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
}
nav{
    display: flex; 
    justify-content: center; 
    gap: 20px; 

}
.nav-link{
    font-size: 21px;
    padding: 10px;   
    color: #ffffff;
}
.nav-link-company{
    font-size: 28px;
    padding: 5px; 
    color: #a9ff38;  

}


.layout-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    flex: 1;
}


